sudo: required
dist: trusty
language: node_js
node_js:
  - "6"
  - "6.1"
addons:
  code_climate:
    repo_token:
      secure: "hskUuif1czXIl1ip8bzcxRoJUdl1xTeym0m5m6XQETiUIM8H3fejNZLXdmt9EkWdgPp3ER2oWckrqDft67RRSeTl2HPAx5a4PjkdGt64ciTY7ZEKrTP2UhbkYu2dq8hkDYsdAPetkl4Z/EZ+EJZvodNuB25QlVM4PPB2lNQaA6e54ETA2cPnIzWdZwADoh0u/keBafGB9bwYpUUdcj6Zk7x9Yl1wQm8HEixxc8+KaBjGbIlnV2h9ucX6Jc58WNZtVIIsPpzybQw3qAr2B+SZ+x7l+0ZifKRg8/0u01gfwpuw9MvwqB+ddZz73Anx5bq+3EJuxXD+dO774VOXHwPoNYkEwTDis11pLm4wOTyD7iPFm5xh8//VUxHR9Cmd4Nq1JkgFlEemWAl3hZSukDpafPTImadK0N3hYlDJB9KU8W+NmAuFf88MV8VEH7keVoZlbGOukz2kKKMd0+uOWyv47pRFKhm8W0MKxX6G11m+w5l/e/tc4KKXOar2a35yMaByx2HxmhfajFy8sV68Fu0CiL6bOPdV2C5bDG04JigTIblJN6LePwXRHF0Pi35APTlKinmg8nlwpDBjL6HEMcY4QUSdU+hvyVV0ui7LuLUmoc9RcA8vLuCPbdKdmB/VADNBRrbr3aSjjB6x1n+gvCMBuHYi/af3h4HeF1auukTK6io="
before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sudo apt-get update
  - sudo apt-get install -y libappindicator1 fonts-liberation
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb
after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info
